# Database
DATABASE_URL="mysql://root:tong752934@localhost:3306/tp_booking"

# SSO KMUTNB
SSO_CLIENT_ID=ZjDpNG8JPC6JjbAbE6r7pqxUrAkXDlNJ
SSO_CLIENT_SECRET=YNgFZx5Kr67ZA1dyEjfMpDP3FPGP53M1uj1bY6EU1drydPu6At7F58xBfOczW05T
SSO_REDIRECT_URI=http://localhost:5173/tp-booking/auth/sso/callback
SSO_STATE="oD4Lx"
SSO_SCOPE="profile email personnel_info openid"

# App
APP_PORT=3000
FRONTEND_URL=http://localhost:5173

# File Upload
UPLOAD_DIR=./uploads
MAX_FILE_SIZE=5242880

# Booking Config
CANCEL_BEFORE_HOURS=2
CHECKIN_GRACE_MINUTES=15
REMINDER_BEFORE_MINUTES=30

# Email (optional)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=your-email@gmail.com
SMTP_PASS=your-app-password
EMAIL_FROM=noreply@yourcompany.com


